.sidebar {
    &::before {
        content: '';
        @apply bg-grey h-full absolute -left-10 top-0;
        width: calc(100% + 20px);
    }
}

@screen lg {
    .sidebar {
        &::before {
            @apply left-0 top-0;
            width: 400%;
        }
    }
}