.header {
    &__nav {
        @apply absolute  w-full bg-grey left-0 top-0 z-20 border-b-10 border-red pt-18 px-6 text-sm opacity-0 pointer-events-none;
        height: calc(100vh - 99px);
        margin-top: 89px;

        li {
            @apply border-b-05 border-red pb-5 mb-5 bg-no-repeat;
            background-image: url('../images/chevron.svg');
            background-position: 100% 0; 
            background-size: 14px 22px;

            a {
                @apply block;
            }
        }

        &.active {
            @apply opacity-100 pointer-events-auto;
        }
    }
}

@screen lg {
    .header {
        &__nav {
            @apply static pointer-events-auto top-auto left-auto p-0 px-0 pt-0 z-0 border-b-0 mt-0 h-auto bg-transparent text-base opacity-100;

            li {
                @apply inline-block ml-7 pb-05 border-b-0;
                background-image: none;

                &.current-menu-item,
                &.current_page_item {
                    @apply border-b-6 border-red;
                }

                &:not(.current-menu-item),
                &:not(.current_page_item) {
                    a {
                        @apply transition-all duration-200 ease-in-out;
                        &:hover {
                            @apply text-red;
                        }
                    }
                }
            }
        }
    }
}