.case-studies {
    .swiper-container {
        width: 100%;
    }

    .swiper-pagination-bullet {
        @apply bg-transparent w-full h-auto flex flex-col items-start text-slate !important;
        @apply uppercase opacity-100 outline-none text-.5xs tracking-normal font-circe;

        span {
            @apply inline-block tracking-wider;
            
            &:first-child {
                @apply h-1.5 w-full bg-transparent border-b border-grey;
            }

            &:last-child {
                @apply mt-4;
            }
        }

        &.swiper-pagination-bullet-active {
            @apply bg-transparent !important;


            span:first-child {
                @apply bg-red border-none;
            }

            span:last-child {
                @apply text-red;
            }
        }
    }
}

@screen lg {
    .case-studies {
        &::before {
            content:'';
            background-image: url('../images/burnt_first.jpg');
            background-size: 214px 205px;
            height: 205px;
            width: 214px;
            top: -10px;
            left: -10px;
    
            @apply absolute transform -rotate-90 z-0 origin-center;
        }

        .swiper-pagination-bullet {
            @apply text-sm;
        }
    }
}