.hero {
    .swiper-container {
        width: 100%;
        height: 47vh;
    }

    &--alt {
        .swiper-container {
            width: 100%;
            height: 73vh;
        }
    }

    .swiper-slide {
        &::after {
            content: '';
            opacity: .69;
            bottom: -17%;

            @apply absolute left-0 w-full h-full bg-gradient-to-t from-black;
        }
    }

    .swiper-pagination-bullet {
        @apply bg-transparent w-14 h-auto flex flex-col items-start !important;
        @apply text-white opacity-100 outline-none;

        &:not(:last-child) {
            @apply mr-4;
        }

        span {
            @apply inline-block font-bold;
            
            &:last-child {
                @apply h-1.5 w-full bg-white;
            }
        }

        &.swiper-pagination-bullet-active {
            @apply bg-transparent !important;

            span:last-child {
                @apply bg-red;
            }
        }
    }
}


@screen lg {
    .hero {
        .swiper-container {
            height: 65vh;
        }

        .swiper-pagination-bullet {
            @apply w-16;
        }
    }
}